body {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
  border: 2px solid black;
  margin: 20px 30px;
  padding: 10%;
  line-height: 200%;
}

label {
  display: block;
}

button {
  display: block;
}
img {
  float: right;
  height: 340px;
  width: auto;
}
